@import './globals';

.appContainer {
  background-image: linear-gradient(to right top, #051937, #171228, #190a1a, #12040d, #000000);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .versioning {
    margin-bottom: 30px;
    text-align: right;
    h1 {
      font-size: 3em;
      font-style: italic;
      color: white;

      span {
        color: cornflowerblue;
      }
    }
    h3 {
      color: white;
      font-size: 1em;
      margin-right: 2em;
      margin-top: -0.4em;
    }
  }
}
