@import "./globals";

.dragItem {
  background: color(lightGray);
  border-radius: 2px;
  margin-top: 2px;
  transition: opacity 100ms ease-in, margin-top 100ms ease, margin-bottom 100ms ease;

  .draggable {
    cursor: grab;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    img {
      margin-left: 20px;
      height: 20px;
      opacity: 0.7;
    }
  }

  &.transparent {
    opacity: 0.7;
  }

  &.marginBefore {
    margin-top: 5px;
  }

  &.marginAfter {
    margin-bottom: 5px;
  }

  &.marginAfterDouble {
    margin-bottom: 10px;
  }
}